body{
    margin: 0px;
    padding-top: 80px; 
    padding-left: 80px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}